* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* ::-webkit-scrollbar {
  width: 9px;
}
* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #777;
}
* ::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
body {
  font-family: 'PT Serif', Georgia, serif;
  text-align: center;
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Signika Negative', Verdana, Arial, sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
  color: #07F;
}
a:link {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: #02F;
}
form {
  display: none;
}
.couch-desk {
  background-color: #F6F6F6;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.couch-reader {
  visibility: hidden;
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: scale(0.85);
  -moz-transform: scale(0.85);
  transform: scale(0.85);
}
.couch-curtain {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  transform: scale(1.2);
  visibility: hidden;
}
.couch-active .couch-desk {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  background-color: #333;
}
.couch-active .couch-reader {
  visibility: visible;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
}
.couch-active .couch-far {
  opacity: 0.5;
  /*or .filter(blur(1px));*/
}
.couch-active .couch-curtain {
  visibility: visible;
}
.couch-deactive {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.a-launchers,
.a-launchers:link,
.a-launchers:active,
.a-launchers:hover,
.a-launchers:focus {
  text-decoration: none;
}
.list-horz {
  padding: 0;
  margin: 0;
  display: inline-table;
}
.list-horz li {
  display: inline;
}
#nav-topbar {
  font-size: 12px;
  text-align: center;
  background-color: #202020;
  background-image: linear-gradient(top, #202020 0%, #111 100%);
  background-image: -o-linear-gradient(top, #202020 0%, #111 100%);
  background-image: -moz-linear-gradient(top, #202020 0%, #111 100%);
  background-image: -webkit-linear-gradient(top, #202020 0%, #111 100%);
  background-image: -ms-linear-gradient(top, #202020 0%, #111 100%);
  -webkit-box-shadow: 0px 0px 3px #000000;
  -moz-box-shadow: 0px 0px 3px #000000;
  -o-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
}
#nav-readlist {
  font-size: 30px;
  margin: 8px;
}
#nav-readlist .a-launchers {
  color: #F6F6F6;
}
.nav-readoption {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  padding: 8px 12px;
}
.nav-readoption:hover,
.nav-readoption:focus {
  background-image: linear-gradient(top, #161616 0%, #000 100%);
  background-image: -o-linear-gradient(top, #161616 0%, #000 100%);
  background-image: -moz-linear-gradient(top, #161616 0%, #000 100%);
  background-image: -webkit-linear-gradient(top, #161616 0%, #000 100%);
  background-image: -ms-linear-gradient(top, #161616 0%, #000 100%);
  outline: none;
}
.nav-unread-selected {
  background-image: linear-gradient(top, #E60 0%, #F60 100%) !important;
  background-image: -o-linear-gradient(top, #E60 0%, #F60 100%) !important;
  background-image: -moz-linear-gradient(top, #E60 0%, #F60 100%) !important;
  background-image: -webkit-linear-gradient(top, #E60 0%, #F60 100%) !important;
  background-image: -ms-linear-gradient(top, #E60 0%, #F60 100%) !important;
}
.nav-scrapbook-selected {
  background-image: linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
  background-image: -o-linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
  background-image: -moz-linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
  background-image: -webkit-linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
  background-image: -ms-linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
}
.nav-archive-selected {
  background-image: linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
  background-image: -o-linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
  background-image: -moz-linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
  background-image: -webkit-linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
  background-image: -ms-linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
}
#container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 70px;
  z-index: 1;
  background-color: #F6F6F6;
}
#desk {
  text-align: left;
  width: 1060px;
  position: relative;
  display: inline-block;
}
.desk-article {
  vertical-align: top;
  display: inline-block;
  width: 330px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #EEE;
  background-color: #FFF;
}
.desk-para {
  height: 95px;
  overflow: hidden;
  color: #666;
  font-size: 14px;
}
.desk-header {
  color: #333;
  font-size: 24px;
}
.desk-pageshadow {
  position: absolute;
  z-index: -1;
  margin-top: -13px;
}
.desk-pageshadow-left,
.desk-pageshadow-right {
  display: inline-block;
  height: 20px;
  width: 147px;
  -webkit-box-shadow: 0px 0px 10px #000000;
  -moz-box-shadow: 0px 0px 10px #000000;
  -o-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
}
.desk-pageshadow-right {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#reader {
  position: absolute;
  z-index: 1000;
  width: 800px;
  height: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -400px;
  text-align: left;
  background-color: #FDFDFD;
  -webkit-box-shadow: 0 0 5px #000000;
  -moz-box-shadow: 0 0 5px #000000;
  -o-box-shadow: 0 0 5px #000000;
  box-shadow: 0 0 5px #000000;
}
#reader img {
  display: block;
  margin: 10px auto;
  padding: 5px;
  border: 1px solid #DDD;
  border-radius: 3px;
}
.reader-container {
  width: 770px;
  height: 96%;
  margin: 20px;
  overflow: auto;
}
.reader-title {
  font-size: 32px;
  padding: 10px;
}
.reader-content {
  padding: 5px 10px;
}
#curtain {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 600;
}
@media all and (max-width: 1024px) {
  #desk {
    width: 900px;
  }
  .desk-article {
    width: 275px;
  }
  .desk-para {
    font-size: 12px;
  }
  .desk-header {
    font-size: 18px;
  }
  .desk-pageshadow-left,
  .desk-pageshadow-right {
    width: 120px;
  }
}
@media all and (min-width: 1025px) {
  #desk {
    width: 1060px;
  }
  .desk-article {
    width: 330px;
  }
  .desk-para {
    font-size: 14px;
  }
  .desk-header {
    font-size: 24px;
  }
  .desk-pageshadow-left,
  .desk-pageshadow-right {
    width: 147px;
  }
}
@media all and (min-width: 1480px) {
  #desk {
    width: 1420px;
  }
}
