* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* ::-webkit-scrollbar {
  width: 9px;
}
* ::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #777;
}
* ::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
body {
  text-align: center;
  background-color: #F6F6F6;
}
h3 {
  font-family: 'Signika Negative', Verdana, Arial, sans-serif;
  margin: 0;
}
p {
  font-family: 'PT Serif', Georgia, serif;
}
form {
  display: none;
}
.body-takeback-scale {
  background-color: #333;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}
.body-takeback-animate {
  -webkit-transition: 0.3s all ease-in;
  -moz-transition: 0.3s all ease-in;
  -o-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}
.body-takeback-blur {
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  filter: blur(1px);
}
.a-launchers,
.a-launchers:link,
.a-launchers:active,
.a-launchers:hover,
.a-launchers:focus {
  text-decoration: none;
}
.list-horz {
  padding: 0;
  margin: 0;
  display: inline-table;
}
.list-horz li {
  display: inline;
}
#nav-topbar {
  font-size: 12px;
  text-align: center;
  background-color: #202020;
  background-image: linear-gradient(top, #202020 0%, #111 100%);
  background-image: -o-linear-gradient(top, #202020 0%, #111 100%);
  background-image: -moz-linear-gradient(top, #202020 0%, #111 100%);
  background-image: -webkit-linear-gradient(top, #202020 0%, #111 100%);
  background-image: -ms-linear-gradient(top, #202020 0%, #111 100%);
  -webkit-box-shadow: 0px 0px 3px #000000;
  -moz-box-shadow: 0px 0px 3px #000000;
  -o-box-shadow: 0px 0px 3px #000000;
  box-shadow: 0px 0px 3px #000000;
  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
}
#nav-readlist {
  font-size: 30px;
  margin: 8px;
}
#nav-readlist .a-launchers {
  color: #F6F6F6;
}
.nav-readoption {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  padding: 8px 12px;
}
.nav-readoption:hover,
.nav-readoption:focus {
  background-image: linear-gradient(top, #161616 0%, #000 100%);
  background-image: -o-linear-gradient(top, #161616 0%, #000 100%);
  background-image: -moz-linear-gradient(top, #161616 0%, #000 100%);
  background-image: -webkit-linear-gradient(top, #161616 0%, #000 100%);
  background-image: -ms-linear-gradient(top, #161616 0%, #000 100%);
  outline: none;
}
.nav-unread-selected {
  background-image: linear-gradient(top, #E60 0%, #F60 100%) !important;
  background-image: -o-linear-gradient(top, #E60 0%, #F60 100%) !important;
  background-image: -moz-linear-gradient(top, #E60 0%, #F60 100%) !important;
  background-image: -webkit-linear-gradient(top, #E60 0%, #F60 100%) !important;
  background-image: -ms-linear-gradient(top, #E60 0%, #F60 100%) !important;
}
.nav-scrapbook-selected {
  background-image: linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
  background-image: -o-linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
  background-image: -moz-linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
  background-image: -webkit-linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
  background-image: -ms-linear-gradient(top, #0EC534 0%, #0ED534 100%) !important;
}
.nav-archive-selected {
  background-image: linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
  background-image: -o-linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
  background-image: -moz-linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
  background-image: -webkit-linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
  background-image: -ms-linear-gradient(top, #AA6500 0%, #BB6500 100%) !important;
}
#container {
  position: absolute;
  left: -3px;
  top: 60px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 10px;
  z-index: 1;
  background-color: #F6F6F6;
}
#desk {
  text-align: left;
  width: 1060px;
  position: relative;
  display: inline-block;
}
.desk-article {
  vertical-align: top;
  display: inline-block;
  width: 330px;
  margin: 10px;
  padding: 15px;
  border: 1px solid #EEE;
  background-color: #FFF;
}
.desk-para {
  height: 95px;
  overflow: hidden;
  color: #666;
  font-size: 14px;
}
.desk-header {
  color: #333;
  font-size: 24px;
}
.desk-pageshadow {
  position: absolute;
  z-index: -1;
  margin-top: -13px;
}
.desk-pageshadow-left,
.desk-pageshadow-right {
  display: inline-block;
  height: 20px;
  width: 147px;
  -webkit-box-shadow: 0px 0px 10px #000000;
  -moz-box-shadow: 0px 0px 10px #000000;
  -o-box-shadow: 0px 0px 10px #000000;
  box-shadow: 0px 0px 10px #000000;
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  transform: rotate(5deg);
}
.desk-pageshadow-right {
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
#reader {
  position: absolute;
  z-index: 1000;
  top: 0;
  background-color: #FDFDFD;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
  -webkit-filter: none;
  -moz-filter: none;
  -o-filter: none;
  filter: none;
}
@media all and (max-width: 2000px) {
  #desk {
    width: 1420px;
  }
}
@media all and (max-width: 1480px) {
  #desk {
    width: 1060px;
  }
  .desk-article {
    width: 330px;
  }
  .desk-para {
    font-size: 14px;
  }
  .desk-header {
    font-size: 24px;
  }
  .desk-pageshadow-left,
  .desk-pageshadow-right {
    width: 147px;
  }
}
@media all and (max-width: 1100px) {
  #desk {
    width: 900px;
  }
  .desk-article {
    width: 275px;
  }
  .desk-para {
    font-size: 12px;
  }
  .desk-header {
    font-size: 18px;
  }
  .desk-pageshadow-left,
  .desk-pageshadow-right {
    width: 120px;
  }
}
