.box-shadow(@style) {
  -webkit-box-shadow: @style;
  -moz-box-shadow: @style;
  -o-box-shadow: @style;
  box-shadow: @style;
}
.linear-gradient(@style, @is_imp:false) when (@is_imp = true) {
  background-image: linear-gradient(@style) !important;
  background-image: -o-linear-gradient(@style) !important;
  background-image: -moz-linear-gradient(@style) !important;
  background-image: -webkit-linear-gradient(@style) !important;
  background-image: -ms-linear-gradient(@style) !important;
}
.linear-gradient(@style) {
  background-image: linear-gradient(@style);
  background-image: -o-linear-gradient(@style);
  background-image: -moz-linear-gradient(@style);
  background-image: -webkit-linear-gradient(@style);
  background-image: -ms-linear-gradient(@style);
}
.transform(@style) {
  -webkit-transform : @style;
  -moz-transform : @style;
  transform : @style;
}
.transform-origin(@value) {
  -webkit-transform-origin: @value;
  -moz-transform-origin: @value;
  -ms-transform-origin: @value;
  -o-transform-origin: @value;
  transform-origin: @value;
}
.transition(@style) {
  -webkit-transition: @style;
  -moz-transition: @style;
  -o-transition: @style;
  transition: @style;
}
.filter(@style) {
  -webkit-filter: @style;
  -moz-filter: @style;
  -o-filter: @style;
  filter: @style;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  ::-webkit-scrollbar { width: 9px; }
  ::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #777; }
  ::-webkit-scrollbar-thumb:hover { background-color: #999; }
}

body {
  font-family: 'PT Serif', Georgia, serif;
  text-align: center;
  margin: 0;
  overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Signika Negative', Verdana, Arial, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #07F;

  &:link { text-decoration: none; }
  &:active { text-decoration: none; }
  &:focus { text-decoration: none; }
  &:hover { text-decoration: none; color: #02F; }
}

input[type="text"] {
  padding: 5px 8px;
  border: 0;
  border-bottom: 1px solid #999;
  border-radius: 3px;
  .box-shadow(inset 0 2px 2px #000);
  background-color: #DDD;
  outline: none;

  &:focus{
    outline: none;
    .box-shadow(inset 0 2px 2px #000);
    background-color: #F6F6F6;
  }
}

.couch-desk {
  background-color: #F6F6F6;
  .transition(0.3s all ease-out);
  .transform-origin(50% 50%);
}
.couch-reader {
  visibility: hidden;
  .transition(0.3s all ease-out);
  .transform-origin(50% 50%);
  .transform(scale(0.85));
}
.couch-curtain { .transform(scale(1.2)); visibility: hidden; }

.couch-active {
  .couch-desk {.transform(scale(0.9)); background-color: #333; }
  .couch-reader { visibility: visible; .transform(scale(1.1)); }
  .couch-far { opacity: 0.5; /*or .filter(blur(1px));*/ }
  .couch-curtain { visibility: visible; }
}
.couch-deactive { .transition(none); }

.a-launchers, .a-launchers:link, .a-launchers:active,
.a-launchers:hover, .a-launchers:focus {
  text-decoration: none;
  cursor: pointer;
}

.list-horz {
  padding: 0;
  margin: 0;
  display: inline-table;

  li { display: inline; }
}

#nav-topbar {
  font-size: 12px;
  text-align: center;
  background-color: #202020;
  .linear-gradient(~'top, #202020 0%, #161616 100%');
  .box-shadow(0 0 5px #000);

  position: fixed;
  z-index: 500;
  width: 100%;
  top: 0;
  left: 0;
}

#nav-readlist {
  font-size: 30px;
  margin: 8px;

  .a-launchers { color: #F6F6F6; }
}
#nav-readpref { float: right; }

.nav-preferences {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  color: #F6F6F6;
  font-size: 30px;
  padding: 8px 16px;
}

.nav-readpref-selected {
  outline: none;
  .box-shadow(inset 4px 4px 5px #000);
  .linear-gradient(~'top, #161616 0%, #060606 100%');
}

.nav-readoption {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  padding: 8px 12px;
}
.nav-preferences:hover, .nav-readoption:hover, .nav-readoption:focus {
  .linear-gradient(~'top, #161616 0%, #060606 100%');
  outline: none;
  color: #F6F6F6;
}

.nav-unread-selected { .linear-gradient(~'top, #E60 0%, #F60 100%', true); }
.nav-scrapbook-selected { .linear-gradient(~'top, #0EC534 0%, #0ED534 100%', true); }
.nav-archive-selected { .linear-gradient(~'top, #AA6500 0%, #BB6500 100%', true); }

#container {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  margin-top: 59px;
  z-index: 1;

  background-color: #F6F6F6;
}
#desk {
  text-align: left;
  width: 1060px;
  margin: 10px 0;

  position: relative;
  display: inline-block;
}
.desk-article {
  vertical-align: top;
  display: inline-block;
  width: 330px;
  margin: 10px;
  padding: 15px;

  border: 1px solid #EEE;
  background-color: #FFF;
}
.desk-para { height : 95px; overflow: hidden; color: #666; font-size: 14px; }
.desk-header {
  color: #333; font-size: 24px; cursor: pointer;
  &:hover { color: #000; }
}
.desk-meta {
  font-family: 'Signika Negative', Verdana, Arial, sans-serif;
  color: #666; font-size: 11px;
  .filter(grayscale(1.0));

  &:active { .filter(grayscale(1)); }
  &:link { .filter(grayscale(1)); }
  &:hover { color: #333; .filter(grayscale(0)); }
  &:focus { color: #333; .filter(grayscale(0)); }
}
.desk-favicon { width: 14px; height: 14px; vertical-align: middle; }
.desk-loading {
  width: 14px; height: 14px;
  display: none; float: right;
}
.desk-pageshadow {
  position: absolute;
  z-index: -1;
  margin-top: -13px;
}
.desk-pageshadow-left, .desk-pageshadow-right {
  display: inline-block;
  height: 20px;
  width: 147px;
  .box-shadow(0px 0px 10px #000);
  .transform(rotate(5deg));
}
.desk-pageshadow-right { .transform(rotate(-5deg)); }

#reader {
  position: absolute;
  z-index: 1000;

  width: 800px; height: 100%;
  top: 50%; left: 50%;
  margin-top: -50%; margin-left: -400px;

  text-align: left;
  background-color: #FDFDFD;
  .box-shadow(0 0 5px #000);

  img {
    display: block;
    margin: 10px auto;
    padding: 5px;
    border: 1px solid #DDD;
    border-radius: 3px;
    max-width: 700px;
  }
  pre {
    border: 1px solid #DDD;
    padding: 10px;
    border-radius: 4px;
    color: #444;
    background-color: #EEE;
  }

}
.reader-container {
  width: 770px; height: 96%;
  margin: 20px;
  overflow: auto;
}
.reader-title { font-size: 32px; padding: 10px; }
.reader-content { padding: 5px 10px; }

#readpref {
  padding: 5px;
  position: absolute;
  z-index: 400;

  background-color: #111;
  .box-shadow(0 0 3px #666);
  border-bottom: 1px solid #444;

  ul { padding: 0; margin: 0;}
  li { display: inline; }
  form { margin: 5px; }
}
.readpref-inactive {
  visibility: hidden;
  top: 0;
  right: 0;

  .transition(0.1s all ease-in);
}
.readpref-active {
  visibility: visible;
  top: 57px;
  right: 0;

  .transition(0.1s all ease-out);
}
input[name="url"]{
  width: 350px;
  line-height: 20px;
}

#curtain {
  position: absolute;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 600;
}

@media all and(max-width: 1024px) {
  #desk { width: 900px; }
  .desk-article { width: 275px; }
  .desk-para { font-size: 12px; }
  .desk-header { font-size: 18px; }
  .desk-pageshadow-left, .desk-pageshadow-right { width: 120px; }
}
@media all and(min-width: 1025px) {
  #desk { width: 1060px; }
  .desk-article { width: 330px; }
  .desk-para { font-size: 14px; }
  .desk-header { font-size: 24px; }
  .desk-pageshadow-left, .desk-pageshadow-right { width: 147px; }
}
@media all and(min-width: 1480px) {
  #desk { width: 1420px; }
}





